/* HINT SECTION STYLES */
.quizButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    width: 140px;
    height: 60px;
    font-size: 1.0rem;
    text-transform: uppercase;
    color: white;
    border: none;
    // transition: all 0.8s;
}

.hintButton {
    background: $accentColor;
    visibility: visible;
    &:hover {
        background: white;
        border: 1px dotted $accentColor;
        color: $accentColor;
    }
}

#hintText {
    font-size: 1.2rem;
    margin: 20px 0;
    visibility: hidden;
}

@media (max-width: 500px) {
    button {
        width: 120px;
    }
    .nextButton {
        width: 100%;
    }
}

@media (max-width: 463px) {
    button {
        width: 100px;
    }
}

/* SKIP SECTION STYLES */

.skipButton {
    background: $primaryColor;
    visibility: visible;
    &:hover {
        background: white;
        border: 1px dotted $primaryColor;
        color: $primaryColor;
    }
}


/* NEXT QUESTION BUTTON */
.nextButton {
    background: $primaryColor;
    display: none;
    width: 100%;
    &:hover {
        background: white;
        color: $primaryColor;
        border: 1px dotted $primaryColor;
    }
}

/* POINT SECTION STYLES */
h3 {
    font-size: 2.5rem;
    &::after {
        content:']';
        color: $primaryColor;
    }
}

.pointsNum {
    color: $accentColor;
    &::before {
        content:'[';
        color: $primaryColor;
    }
}

@media (max-width: 420px) {
    .quizButtons {
        flex-direction: column;
        align-items: center;
    }
    button {
        width: 100%;
        height: 40px;
    }
    h3 {
        margin: 5px 0;
        font-size: 2.0rem;
    }
}
